/* CSS Reset */
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    height: 100%;
    background-color: white;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
    text-align: center;
    font-family: 'Bouncy Castle';
    font-weight: 100;
    font-size: 62px;
    letter-spacing: 2px;
    color: #4b4b4b;
}

.presentes-container {
    display: flex;
    flex-wrap: wrap;
}

.presente-item {
    font-family: 'Caviar Dreams';
    color: #505050;
    font-weight: bold;
    width: 33%;
    flex-grow: 1;
    height: auto;
    text-align: center;
}

.presente {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 620px) and (max-width: 900px) {
    .presente-item {
        width: 50%;
        flex-grow: 1;
        height: auto;
        text-align: center;
    }
}

@media (max-width: 620px) {
    .presente-item {
        width: 100%;
        flex-grow: 1;
        height: auto;
        text-align: center;
    }

    .header {
        font-size: 42px;
    }

    .presentation {
        font-size: 14px;
    }
}

/* .linha {
    width: auto;
    height: 20px;
    margin: 0 auto;
    display: block;
} */

.presentation {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    text-align: center;
    color: #4b4b4b;
    margin: 20px 5% 20px 5%;
    line-height: 1.5;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}